{% extends 'base.html' %}

{% block title %} My Account {% endblock %}

{% block content %}
{{ super() }}

{% if  current_user.id == id %}
<!-- div to put fields in border -->
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        <div class="mb-3">
    <br>
    {{ form.hidden_tag()}}
    <br>

    {{ form.order.label }}
    <br>
    {{ form.order(class="form-control form-control-sm", placeholder="What is you order") }}
    <br>
    
    {{ form.buy_btn(class="btn btn-secondary") }}
        </div>
</div>
    </form>     
{% else %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
    You don't Have Premission
    </div>
</div>
{% endif %}

{% endblock %}